:root {
	--overflow-value: hidden;
}

body {
  overflow: var(--overflow-value);
}

#app-root {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
  background-color: white;
  z-index: 9999;
  align-items: center;
  justify-content: center;
}

#proceed {
}

#safety {
}

#warning-image {

}
